/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }

  /* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  p {
    margin: 0;
  }
  
  
  
  /* ---- layout ---- */
  
  html, body {
    height: 100%;
  }
  
  .fill {
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../images/voodoo_cactus_island.png');
}

  .container {
    margin: 0 20px;
    
  }
  
  /* @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;
    }
  } */
  
  
  /* ---- components ---- */
  
  .game {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
  
  .game header {
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .game .lives {
    flex: 1;
  }
  
  .game .score {
    flex: 1;
  }
  
  .game .label {
    font-weight: bold;
  }
  
  .game .value {
    font-style: italic;
  }
  
  .game .canvas-container {
      width: 1400px;
      height: 900px;
      border: 5px solid black;
  
  }

  .win {
    width: 1400px;
    height: 900px;
    background-image: url('../images1/pirate-party.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lost {
    width: 1400px;
    height: 900px;
    background-image: url('../images1/deadPirate.png');
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  

